

/* Estilos del contenedor principal */
.main-container{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-row: inherit;
    gap: 1em;
    justify-content: center;
}

/* Estilos del contenedor del titulo */
.title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /*white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;*/
}

/* Estilos de contenedor de la pelicula de portada */
.movie-container{
    width: 100%;
    height: 70vh;
    position: relative;
}

/* Estilos de la pelicula de portada */
.movie-features{
    position: absolute;
    bottom: 1em;
    padding-left: 8em;
    padding-right: 8em;
}

/* Estilos de las tarjetas de peliculas */
.card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border: 0.5px solid black;*/
}

/* Estilos de las imagenes de las tarjetas */
.card-img{
    width: 200px;
    height: 350px;    
}

.card-img{
    cursor: pointer;
}

/* Estilos del input para buscar peliculas */
.form-container{
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container input{
    width: 30%;
    height: 2em;
}

.form-container button{
    width: 2.5em;
    height: 2.5em;
}

/* Estilos de la paginacion */
.carrete-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.carrete-container button:hover{
    cursor: pointer;
}

/* Estilos del boton de trailer de la pelicula de portada */
.btn-trailer{
    background-color: black;
    border: 1px white solid;
    color: white;
}

.btn-trailer:hover{
    cursor: pointer;
}

/* Estilos del trailer, contenedor, botones y reproductor. */
.viewtrailer{
    min-height: 700px;
    background-size: cover;
    background-position:center;
    display: flex;
    align-items: flex-end;
}

.close-container{
    position: relative;
    width: 100%;
    height: 1.3em;
    background-color: #0F1014;
}

.boton{
    background-color: transparent;
    color: white;
    outline: none;
    cursor: pointer;
    position: absolute;
    right: 1px;
}

.reproductor{
    width: 100%;
    height: 600px;
}



/* MEDIA QUERYS PARA DISEÑO RESPONSIVO */ 

/* MediaQuery para tablets y dispositivos medianos. */
@media screen and (max-width: 1000px) {
    .main-container{
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-row: inherit;
        gap: 1em;
        justify-content: center;
    }
    .movie-container{
        width: 100%;
        height: 70vh;
        position: relative;
        background-size: cover;
        background-position: center;
    }
    .movie-features{
        position: absolute;
        bottom: 1em;
        padding-left: 3em;
        padding-right: 3em;
    }
    .form-container input{
        width: 40%;
        height: 2em;
    }
}

/* MediaQuery para dispositivos chicos o telefonos movil (celulares/mobile). */
@media screen and (max-width: 670px) {
    .main-container{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-row: inherit;
        gap: 1em;
        justify-content: center;
    }
    .movie-container{
        width: 100%;
        height: 70vh;
        position: relative;
        background-size: cover;
        background-position: center;
    }
    .movie-features{
        position: absolute;
        bottom: 1em;
        padding-left: 1em;
        padding-right: 1em;
    }
    .form-container input{
        width: 50%;
        height: 2em;
    }
    .card-img{
        width: 180px;
        height: 330px;
    }

}